body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

/* @media screen and (min-width: 768px) {
  body {
    width: 55%;
  }
} */

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0em 4em;
  margin-bottom: 4em;
}

/* @media screen and (min-width: 768px) {
  header {
    gap: 0em 4em;
    margin-bottom: 5em;
  }
} */

div#pokemon-name {
  /* margin: auto; */
}

div#pokemon-name p {
  font-size: 2em;
  /* margin-right: 3em; */
}

div#pokemon-id {
  /* position: absolute; */
  /* right: 30em; */
  /* margin-left: auto; */
  /* margin-right: 10em; */
  /* margin-right: auto; */
}

div#pokemon-id p {
  font-size: 1.2em;
}
