main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2em;
  width: 50%;
}

main div {
  display: flex;
  align-items: center;
}
div#pokemon-display {
  gap: 4em;
  justify-content: center;
}

div#pokemon-display img {
  min-width: 100%;
}

div#ruler {
  transform: rotate(90deg);
}

div#previous-pokemon,
div#next-pokemon {
  cursor: pointer;
}

div#pokemon-image {
}

div#pokemon-type {
  gap: 2em;
  justify-content: center;
}

div#pokemon-type p {
  margin: 0;
  padding: 0.5em 0.8em;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 1em;
  background-color: #666666;
  color: #ffffff;
}

div#pokemon-about {
  justify-content: center;
}

div#pokemon-about,
div#stats-title p {
  font-size: 1.4em;
  font-weight: bolder;
  color: #b8b8b8;
  text-transform: capitalize;
  word-spacing: 0.2em;
  letter-spacing: 0.02em;
}

div#pokemon-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

div#pokemon-dimensions {
  display: flex;
  align-items: flex-end;
  margin: 0;
  /* gap: 1.2em; */
}

div#pokemon-dimensions div {
  margin: 0;
}

.img-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

div#pokemon-dimensions p:not(.measurement) {
  font-size: 1em;
  font-weight: 500;
  color: #1d1d1d;
}

div#pokemon-abilties,
div.pokemon-stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2em;
}

div#pokemon-abilties,
div.pokemon-stat p:not(:last-child) {
  flex: 1;
  text-align: center;
}

div#pokemon-abilties,
div.pokemon-stat p:last-child {
  width: 100%;
}

.measurement {
  width: 100%;
  text-align: center;
  font-size: 0.7em;
}

div.img-container {
  width: 2.7em;
  height: auto;
}

div.img-container img {
  width: 100%;
}

.ability {
  display: flex;
  flex-direction: column;
}

div#pokemon-description {
  display: flex;
  justify-content: center;
}

div#pokemon-description p {
  font-size: 0.9em;
  font-weight: 500;
  color: #1d1d1d;
  line-height: 1.7;
}

div#pokemon-stats {
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  position: relative;
}

div#pokemon-stats::before {
  content: "";
  position: absolute;
  left: calc(3em + 1em);
  top: calc(1em + 1em);
  bottom: 0;
  width: 2px;
  background-color: #b8b8b8;
}

div#stats-title {
  justify-content: center;
  width: 100%;
}

div.stat-cell {
  /* display: flex; */
  /* display: block; */
  gap: 2.5em;
  width: 100%;
}

div.stat-name {
}

div.stat-name p {
  width: 3em;
  color: #b8b8b8;
  text-align: right;
}

div.stat-value {
  /* display: block; */
  font-weight: 500;
}

div.stat-name p {
}

.container {
  position: relative;
  width: 100%;
  /* height: 10em;   */
  /* text-align: center; */
}

.progress2 {
  width: 100%;
  padding: 0em;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 0.4em;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 100%; /*! THIS HAPPENS WHENEVR THE ANIMATION IS OVER, SHOULD BE AT THE SAME % AS THE ANIMATION % */
  background-color: #ef476f;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: #f9bcca;
  }
  100% {
    width: 100%; /*! THIS IS THE ANIMATION PERCENTAGE 100% */
    background-color: #ef476f;
  }
}

.stat-bar {
  width: 100%;
  gap: 2em;
}
